.rotate:hover {

    transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1) ;
    
  }

  body{
      background-color: black;
  }
  .rotate{
    transform: perspective(800px) rotateY(25deg) scale(.8) rotateX(10deg);
    box-shadow: 0 60px 123px -25px hsla(225,2%,62%,.42), 0 35px 75px -35px hsla(225,2%,62%,.08);
    width: 500px;
    height: 309px;
    background: #6d6d6d;
    border: 50px solid red;
    transition: all 0.3s ease;
  }