header{
    display: flex;
    justify-content: center;
    background-color: $mane_bc;
    padding: 10px;
    .conteiner__navbar{
        padding: 0;
        .bg__nav{
            background-color: $mane_bc;

        }
    }
    .gaps{
        gap: 50px;
    }
    .navbar-brand{
        margin-right: 50px;
    }
}


