.rotate{
    transform: perspective(800px) rotateY(25deg) scale(.8) rotateX(10deg);
    box-shadow: 0 60px 123px -25px hsla(225,2%,62%,.42), 0 35px 75px -35px hsla(225,2%,62%,.08);
    width: 500px;
    height: 309px;

    transition: all 0.3s ease;
  }
  .rotate:hover {

    transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1) ;
    
  }

  .works{
    padding: 50px;
    .work__txt{
        padding-top: 50px;
        color: aliceblue;
        display: flex;
        .col_aq{
            color: aqua;
        }
    }
    .works__conteiner{
        display: flex;
        flex-direction: column;
        gap: 100px;
        .block{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            h4{
                text-align: center;
                border: 2px solid aqua;
                color: aliceblue;
                border-radius: 10px;
                width: 150px;
                padding: 10px;
                margin: auto;            }
            p{
                color: aliceblue;
                width: 150px;
                text-align: center;

            }
        }
    }
  }